@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [multiple],
  [type="date"],
  [type="datetime-local"],
  [type="email"],
  [type="month"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="time"],
  [type="url"],
  [type="week"],
  select,
  textarea {
    border-color: #6b7280;
    border-width: 1px;
    padding: 0.6rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /*hide input type number arrow*/
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .hero-gradient {
    background: linear-gradient(183.13deg, #d8b3ff 0.08%, #ffffff 71.65%);
  }
  .tech-gradient {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(136, 19, 255, 0.23) 0%,
      rgba(255, 255, 255, 0.23) 100%
    );
  }
  .badge-ring {
    @apply inline-block ring-1 ring-gray-400 py-1 px-5 rounded-full text-slate-700;
  }
}
